html, body {
    margin: 0;
    padding: 0;
}
body{
	font-family: Arial, Helvetica, Verdana, Sans-serif;
    font-size: 12px;
    color: #666666;
    background: #ffffffff;
}
h1{
	margin: 0;
    padding: 0;
}
#content h2 {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}	 
#content p {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}
.hidden{
	display: none;
}
#page-container {
	width: 760px;
	margin: auto;
}
#main-nav {
	height: 50px;
	overflow: hidden;
	background: black;
	margin-bottom: 5px;
}

.main-menu {
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.main-menu li {
	float: left;
	margin-right: 10px;
	width: 100px;
	height: 50px;
}

.main-menu li a {
	display: block;
	text-decoration: none;
	margin: 0;
	
}

.main-menu li a:hover {
	background: black;
	margin-top: -50px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow: hidden;
} 

#header {
	background: url(../images/sample.jpg);
	height: 150px;
}
#sidebar-a {
	margin-top: 8px;
	float: right;
	width: 280px;
	line-height: 18px;
}
#sidebar-a .padding {
    padding: 25px;
	
}
#content {
	margin-right: 280px;
	line-height: 18px;
}
#content .padding {
    padding: 0px;
}
#footer {
	clear: both;
	height: 66px;
}